@tailwind base;
@tailwind components;
@tailwind utilities;

h2{
    font-weight: 500;
    font-size: x-large;
    margin-top: 10px;
}
.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
  }
.modal-footer {
    display: flex;
    justify-content: flex-end;
    
  }
.closeBtn{
    border: 2px solid white;
  width: fit-content;
  display: flex;
  padding: 7px 10px;
  border-radius: 10px;
  justify-content: flex-end;
  cursor: pointer;
  border: 1px solid black;
}

::backdrop{
  opacity: 1;    
  background: rgba(0, 0, 0, 0.5);  
}
